@{
    ViewData["Title"] = "Dashboard";
}

@section Head {
    <link rel="stylesheet" href="~/Scripts/jvectormap/jquery-jvectormap-1.2.2.css">
    <script src="~/Scripts/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Scripts/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Scripts/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/Scripts/chartjs/Chart.min.js"></script>
    @*<script src="~/Scripts/adminlte/pages/dashboard2.js"></script>*@
    <script src="~/Scripts/adminlte/demo.js"></script>
    <script src="~/Scripts/plot.ly/plotly-latest.min.js"></script>
}

@section ContentHeader {
    <h1>@ViewData["Title"]</h1>
}
<!-- Modal -->

<div id="modal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="closeModal" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modal Default</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Type:</label>
                            <select id="beerSelector" class="form-control select2" style="width: 100%;">
                                <option beer-data=0 selected="selected">Pilsner</option>
                                <option beer-data=1>Wheat</option>
                                <option beer-data=2>IPA</option>
                                <option beer-data=3>Stout</option>
                                <option beer-data=4>Ale</option>
                                <option beer-data=5>Alcohol Free</option>
                            </select>
                        </div><!-- /.form-group -->
                    </div><!-- /.col -->
                    <div class="col-md-4">
                        <label>Mængde(0-65535):</label>

                        <input id="amtSet" type="number" min="0" max="65535" class="form-control" placeholder="10000">

                    </div><!-- /.col -->
                    <div class="col-md-4">
                        <label>Batch ID:</label>

                        <input id="batchID" type="number" class="form-control" value="25" disabled="">

                    </div><!-- /.col -->
                </div>
                    <div class="modal-footer">
                        <button id="closeModal"type="button" class="btn btn-default pull-left">Close</button>
                        <button id="sendData" type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Info boxes -->
<div class="row" style="padding-bottom: 15px">
    <div class="col-md-2 col-sm-6 col-xs-12">
        <button id="clearBtn" class="btn btn-block btn-info btn-lg">Clear</button>
        <button id="resetBtn" class="btn btn-block btn-primary btn-lg">Reset</button>
        <button id="startBtn" class="btn btn-block btn-success btn-lg">Start</button>

    </div>
    <div class="col-md-2 col-sm-6 col-xs-12">
        <button id="stopBtn" class="btn btn-block btn-warning btn-lg">Stop</button>
    </div>
    <div class="col-md-2 col-sm-6 col-xs-12">
        <button id="abortBtn" class="btn btn-block btn-danger btn-lg">Abort</button>
    </div>
    <div>
        <span class="col-md-2 info-box-content bg-gray" id="stateShow" style="font-size: 180%; margin-left: 0; height: 46px;"> State:  </span>
    </div>

</div>

<div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua">
                <i>
                    <img class="match-block" src="~/Content/beerAssets/package.svg" />
                </i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Batch Id</span>

                <span id="nextBatchID" class="info-box-number"> 123 </span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-gray"><i><img class="match-block" src="~/Content/beerAssets/beertap.svg" /> </i></span>
            <div class="info-box-content">
                <span class="info-box-text">Amount to Produce</span>
                <span id="nextProductAmount" class="info-box-number">5000</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->
    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i><img class="match-block" src="~/Content/beerAssets/speedometer.svg" /></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Speed</span>
                <span id ="machinespeed" class="info-box-number">760</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->
</div><!-- /.row -->

<div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-gray">
                <i>
                    <img class="match-block" src="~/Content/beerAssets/beer.svg" />
                </i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Produced</span>
                <span id="produced" class="info-box-number">90</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-gray"><i><img style="display: block; margin-left: auto; margin-top: 10%; margin-right: auto; height:72px; width: auto; vertical-align: middle;" src="~/Content/beerAssets/accept.svg" /> </i></span>
            <div class="info-box-content">
                <span class="info-box-text">Acceptable Amount Produced</span>
                <span id ="acceptableAmountProduced" class="info-box-number">41,410</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->
    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-bg-gray"><i><img style="display: block;margin-left: auto;margin-top: 10%;margin-right: auto;height:72px; width: auto; vertical-align: middle;" src="~/Content/beerAssets/defect.svg" /></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Unacceptable Amount Produced</span>
                <span id ="unacceptableAmountProduced"class="info-box-number">760</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->
</div><!-- /.row -->

<div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-red">
                <i>
                    <img class="match-block" src="~/Content/beerAssets/thermometer.svg" />
                </i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Temperature</span>
                <span id ="temperature" class="info-box-number">90</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-gray"><i><img class="match-block" src="~/Content/beerAssets/humidity.png" /> </i></span>
            <div class="info-box-content">
                <span class="info-box-text">Humidity</span>
                <span id = "humidity" class="info-box-number">41,410</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->
    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i><img class="match-block" src="~/Content/beerAssets/vibration.svg" /></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Vibration</span>
                <span id ="vibration" class="info-box-number">760</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->
</div><!-- /.row -->
<!-- Main row -->
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Monthly Recap Report</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <div class="btn-group">
                        <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-8">
                        <p class="text-center">
                            <strong>Sales: 1 Jan, 2014 - 30 Jul, 2014</strong>
                        </p>
                            <!-- Sales Chart Canvas -->
                            <div id="plotChart"></div>
                    </div><!-- /.col -->
                    <div class="col-md-4">
                        <p class="text-center">
                            <strong>Inventory</strong>
                        </p>
                        <div class="progress-group">
                            <span class="progress-text">Barley</span>
                            <span id="barley" class="progress-number"><b>80</b></span>
                            <div class="progress sm">
                                <div class="progress-bar progress-bar-green" style="width: 80%"></div>
                            </div>
                        </div><!-- /.progress-group -->
                        <div class="progress-group">
                            <span class="progress-text">Hops</span>
                            <span id="hops" class="progress-number"> </span> 
                            <div class="progress sm">
                                <div class="progress-bar progress-bar-green" style="width: 80%"></div>
                            </div>
                        </div><!-- /.progress-group --> 

                        <div class="progress-group">
                            <span class="progress-text">Malt</span>
                            <span id="malt" class="progress-number"><b>80   </b></span>
                            <div class="progress sm">
                                <div class="progress-bar progress-bar-green" style="width: 80%"></div>
                            </div>
                        </div><!-- /.progress-group -->
                        <div class="progress-group">
                            <span class="progress-text">Wheat</span>
                            <span id="wheat" class="progress-number"><b>80</b>/100%</span>
                            <div class="progress sm">
                                <div class="progress-bar progress-bar-green" style="width: 80%"></div>
                            </div>@*group -->*@
                            <div class="progress-group">
                                <span class="progress-text">Yeast</span>
                            </div> @*/.progress-an>*@
                            <span id="yeast" class="progress-number"><b>80</b>/100%</span>
                            <div class="progress sm">
                                <div class="progress-bar progress-bar-green" style="width: 80%"></div>
                            </div>
                        </div>
                        <!-- /.progress-group
    </div><!-- /.col -->
                    </div><!-- /.row -->
            </div><!-- ./box-body -->

        </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.row -->
<div class="row" style="padding-bottom: 15px">
    <div class="col-md-2 col-sm-6 col-xs-12">
        <button id="stateBtn" class="btn btn-block btn-primary btn-lg">State Changer</button>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="info-box">
            <span class="info-box-icon bg-green">
                <i>
                    <img class="match-block" src="~/Content/beerAssets/beer.svg" />
                </i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Beer Type for next batch</span>
                <span class="info-box-number" id="nextType">Pilsner</span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="info-box">
            <span class="info-box-icon bg-aqua">
                <i>
                    <img class="match-block" src="~/Content/beerAssets/beertap.svg" />
                </i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Beer amount for next batch</span>
                <span class="info-box-number" id="nextAmt">10000</span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="info-box">
            <span class="info-box-icon bg-yellow">
                <i>
                    <img class="match-block" src="~/Content/beerAssets/package.svg" />
                </i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Next Batch ID</span>
                <span class="info-box-number" id="nextID">25</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2 col-sm-6 col-xs-12">
        <button id="newBatchBtn" class="btn btn-block btn-success btn-lg">Start new Batch</button>
    </div>
</div>


<style>
    .match-block {
        display: block;
        margin-left: auto;
        margin-top: 10%;
        margin-right: auto;
        width: 80%;
        vertical-align: middle;
    }
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 50;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    #resetBtn {
        position: absolute;
        top: -5;
        width: 250px;
    }

    #startBtn {
        position: absolute;
        top: -5;
        width: 250px;
    }

    #clearBtn {
        position: relative;
        top: 0;
        width: 250px;
    }

    #stopBtn {
    }

    #abortBtn {
    }
</style>


<script type="text/javascript">

    var state = 3;
    var modal = document.getElementById("modal");



    $(document).ready(function () {

        setInterval(getProduced, 500);
        setInterval(getNextBatchID, 500);
        setInterval(getNextProductAmount, 500);
        setInterval(getHumidity, 500);
        setInterval(getTemperature, 500);
        setInterval(getVibration, 500);
        setInterval(getMachinespeed, 500);
        setInterval(getMalt, 500);
        setInterval(getHops, 500);
        setInterval(getBarley, 500);
        setInterval(getWheat, 500);
        setInterval(getYeast, 500);
        setInterval(getAcceptableAmountProduced, 500);
        setInterval(getUnacceptableAmountProduced, 500);

    });


    Plotly.d3.csv("https://raw.githubusercontent.com/plotly/datasets/master/finance-charts-apple.csv", function(err, rows){

        function unpack(rows, key) {
            return rows.map(function(row) { return row[key]; });
        }


        var trace1 = {
            type: "scatter",
            mode: "lines",
            name: 'AAPL High',
            x: unpack(rows, 'Date'),
            y: unpack(rows, 'AAPL.High'),
            line: {color: '#17BECF'}
        }

        var trace2 = {
            type: "scatter",
            mode: "lines",
            name: 'AAPL Low',
            x: unpack(rows, 'Date'),
            y: unpack(rows, 'AAPL.Low'),
            line: {color: '#7F7F7F'}
        }

        var data = [trace1,trace2];

        var layout = {
            margin: {
                l: 50,
                r: 50,
                b: 50,
                t: 50,
                pad: 1
            },
            
            xaxis: {
                autorange: true,
                range: ['2015-02-17', '2017-02-16'],
                rangeselector: {buttons: [
                    {
                        count: 1,
                        label: '1m',
                        step: 'month',
                        stepmode: 'backward'
                    },
                    {
                        count: 6,
                        label: '6m',
                        step: 'month',
                        stepmode: 'backward'
                    },
                    {step: 'all'}
                ]},
                rangeslider: {range: ['2015-02-17', '2017-02-16']},
                type: 'date'
            },
            yaxis: {
                autorange: true,
                range: [86.8700008333, 138.870004167],
                type: 'linear'
            }
        };

        Plotly.newPlot('plotChart', data, layout);
    })

    function getProduced() {
        $.ajax({
            url: "/Dashboard/GetProduced",
            data: {},
            success: function(data) {
                $("#produced").text(data.produced);
            }
        });
    }

    function getNextProductID() {
        $.ajax({
            url: "/Dashboard/GetProductID",
            data: {},
            success: function(data) {
                $("#nextProductID").text((data.nextProductID));
            }
        });
    }
    
    function getMalt() {
        $.ajax({
            url: "/Dashboard/GetMalt",
            data: {},
            success: function(data) {
                $("#malt").text((data.malt));
            }
        });
    }

    function getHops() {
        $.ajax({
            url: "/Dashboard/GetHops",
            data: {},
            success: function (data) {
                $("#hops").text((data.hops));
            }
        });
    }

    function getBarley() {
        $.ajax({
            url: "/Dashboard/GetBarley",
            data: {},
            success: function (data) {
                $("#barley").text((data.barley));
            }
        });
    }

    function getWheat() {
        $.ajax({
            url: "/Dashboard/GetWheat",
            data: {},
            success: function (data) {
                $("#wheat").text((data.wheat));
            }
        });
    }

    function getYeast() {
        $.ajax({
            url: "/Dashboard/GetYeast",
            data: {},
            success: function (data) {
                $("#yeast").text((data.yeast));
            }
        });
    }

        function getNextBatchID() {
            $.ajax({
                url: "/Dashboard/GetNextBatchID",
                data: {},
                success: function(data) {
                    $("#nextBatchID").text((data.nextBatchID));
                }
            });
        }

    function getNextProductAmount() {
        $.ajax({
            url: "/Dashboard/GetNextProductAmount",
            data: {},
            success: function(data) {
                $("#nextProductAmount").text((data.nextProductAmount));
            }
        });
    }

    function getHumidity() {
        $.ajax({
            url: "/Dashboard/GetHumidity",
            data: {},
            success: function (data) {
                $("#humidity").text((data.humidity));
            }
        });
    }

    function getTemperature() {
        $.ajax({
            url: "/Dashboard/GetTemperature",
            data: {},
            success: function (data) {
                $("#temperature").text((data.temperature));
            }
        });
    }

    function getVibration() {
        $.ajax({
            url: "/Dashboard/GetVibration",
            data: {},
            success: function (data) {
                $("#vibration").text((data.vibration));
            }
        });
    }

    function getMachinespeed() {
        $.ajax({
            url: "/Dashboard/GetMachinespeed",
            data: {},
            success: function (data) {
                $("#machinespeed").text((data.machinespeed));
            }
        });
    } 

    function getAcceptableAmountProduced() {
        $.ajax({
            url: "/Dashboard/GetAcceptableAmountProduced",
            data: {},
            success: function (data) {
                $("#acceptableAmountProduced").text((data.acceptableAmountProduced));
            }
        });
    }

    function getUnacceptableAmountProduced() {
        $.ajax({
            url: "/Dashboard/GetUnacceptableAmountProduced",
            data: {},
            success: function (data) {
                $("#unacceptableAmountProduced").text((data.unacceptableAmountProduced));
            }
        });
    }
    
        $("#resetBtn").click(function() {
            $.ajax({
                url: "/Dashboard/ActionBtnClick",
                data: { data: 1 },
                success: function(data) {
                }
            });
        });

        $("#startBtn").click(function() {
            $.ajax({
                url: "/Dashboard/ActionBtnClick",
                data: { data: 2 },
                success: function(data) {

                }
            });
        });

        $("#stopBtn").click(function() {
            $.ajax({
                url: "/Dashboard/ActionBtnClick",
                data: { data: 3 },
                success: function(data) {
                }
            });
        });

        $("#abortBtn").click(function() {
            $.ajax({
                url: "/Dashboard/ActionBtnClick",
                data: { data: 4 },
                success: function(data) {
                }
            });
    });

    $("#pilsBtn").click(function() {
        $.ajax({
            url: "/Dashboard/PilsnerOptimize",
            data: { data: 4 },
            success: function(data) {
            }
        });
    });

    $(".btn-danger").click()
    {
    }

    $("#stateBtn").click(function () {
        state = (state + 1) % 4;

        switch (state) {
            case 0:
                $("#stateShow").text("State: Stopped");
                $("#clearBtn").hide();
                $("#resetBtn").show();
                $("#startBtn").hide();
                break;
            case 1:
                $("#stateShow").text("State: Idle");
                $("#clearBtn").hide();
                $("#resetBtn").hide();
                $("#startBtn").show();
                break;
            case 2:
                $("#stateShow").text("State: Completed");
                $("#clearBtn").hide();
                $("#startBtn").hide();
                $("#resetBtn").show();
                break;
            case 3:
                $("#stateShow").text("State: Aborted");
                $("#resetBtn").hide();
                $("#startBtn").hide();
                $("#clearBtn").show();
                break;
        };
    });

    $("#newBatchBtn").click(function () {
        modal.style.display = "block";
    });

    $("#closeModal").click(function() {
        modal.style.display = "none";
        $("#beerSelector").val("Pilsner");
        $("#amtSet").val(null);
    });

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
            $("#beerSelector").val("Pilsner");
            $("#amtSet").val(null);
        }
    }

    $("#sendData").click(function ()
    {
        var amt = parseInt($("#amtSet").val());
        var beerType = parseInt($("#beerSelector").find(":selected").attr("beer-data"));
        var beerTypeName = $("#beerSelector").val();
        var batchID = parseInt($("#batchID").val());
        $.ajax({
            url: "/AdminLTE/SendBtnClick",
            data: { name: amt, name2: beerType, name: batchID },
            success: function (data) {
                toastr.success("Batch Information has been send.")
                $("#nextAmt").text(amt);
                $("#nextType").text(beerTypeName);
                $("#beerSelector").val("Pilsner");
                $("#nextID").val(batchID);
                $("#amtSet").val(null);
                modal.style.display = "none";
            },
            error: function (data) {
                toastr.error("An error happened.")
            }
        });
    });

</script>