@{
    ViewData["Title"] = "Dashboard";
}

@section Head {
    <link rel="stylesheet" href="~/Scripts/jvectormap/jquery-jvectormap-1.2.2.css">
    <script src="~/Scripts/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Scripts/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Scripts/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/Scripts/chartjs/Chart.min.js"></script>
    <script src="~/Scripts/adminlte/pages/dashboard2.js"></script>
    <script src="~/Scripts/adminlte/demo.js"></script>
}

@section ContentHeader {
    <h1>@ViewData["Title"]</h1>
}

<!-- Info boxes -->
<div class="row" style="padding-bottom: 15px">
    <div class="col-md-2 col-sm-6 col-xs-12">
        <button id="resetBtn" class="btn btn-block btn-primary btn-lg">Reset</button>
    </div>
    <div class="col-md-2 col-sm-6 col-xs-12">
        <button id="startBtn" class="btn btn-block btn-success btn-lg">Start</button>
    </div>
    <div class="col-md-2 col-sm-6 col-xs-12">
        <button id="stopBtn" class="btn btn-block btn-warning btn-lg">Stop</button>
    </div>
    <div class="col-md-2 col-sm-6 col-xs-12">
        <button id="abortBtn" class="btn btn-block btn-danger btn-lg">Abort</button>
    </div>
    <div class="col-md-2 col-sm-6 col-xs-12">
        <button id="clearBtn" class="btn btn-block btn-info btn-lg">Clear</button>
    </div>
    <div>
        <span class="col-md-2 info-box-content bg-gray" style="font-size: 180%; margin-left: 0; height: 46px;"> State:  </span>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua">
                <i>
                    <img class="match-block" src="~/Content/beerAssets/package.svg" />
                </i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Batch Id</span>
                <span id="nextBatchID" class="info-box-number"> 123 </span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-gray"><i><img class="match-block" src="~/Content/beerAssets/beertap.svg" /> </i></span>
            <div class="info-box-content">
                <span class="info-box-text">Amount to Produce</span>
                <span id="nextProductAmount" class="info-box-number">5000</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->
    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i><img class="match-block" src="~/Content/beerAssets/speedometer.svg" /></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Speed</span>
                <span id ="machinespeed" class="info-box-number">760</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->
</div><!-- /.row -->

<div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-gray">
                <i>
                    <img class="match-block" src="~/Content/beerAssets/beer.svg" />
                </i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Produced</span>
                <span id="produced" class="info-box-number">90</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-gray"><i><img style="display: block; margin-left: auto; margin-top: 10%; margin-right: auto; height:72px; width: auto; vertical-align: middle;" src="~/Content/beerAssets/accept.svg" /> </i></span>
            <div class="info-box-content">
                <span class="info-box-text">Acceptable Amount Produced</span>
                <span class="info-box-number">41,410</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->
    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-bg-gray"><i><img style="display: block;margin-left: auto;margin-top: 10%;margin-right: auto;height:72px; width: auto; vertical-align: middle;" src="~/Content/beerAssets/defect.svg" /></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Unacceptable Amount Produced</span>
                <span class="info-box-number">760</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->
</div><!-- /.row -->

<div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-red">
                <i>
                    <img class="match-block" src="~/Content/beerAssets/thermometer.svg" />
                </i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Temperature</span>
                <span id ="temperature" class="info-box-number">90</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-gray"><i><img class="match-block" src="~/Content/beerAssets/humidity.png" /> </i></span>
            <div class="info-box-content">
                <span class="info-box-text">Humidity</span>
                <span id = "humidity" class="info-box-number">41,410</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->
    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i><img class="match-block" src="~/Content/beerAssets/vibration.svg" /></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Vibration</span>
                <span id ="vibration" class="info-box-number">760</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->
</div><!-- /.row -->


<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Monthly Recap Report</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <div class="btn-group">
                        <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-8">
                        <p class="text-center">
                            <strong>Sales: 1 Jan, 2014 - 30 Jul, 2014</strong>
                        </p>
                        <div class="chart">
                            <!-- Sales Chart Canvas -->
                            <canvas id="salesChart" style="height: 268px;"></canvas>
                        </div><!-- /.chart-responsive -->
                    </div><!-- /.col -->
                    <div class="col-md-4">
                        <p class="text-center">
                            <strong>Inventory</strong>
                        </p>
                        <div class="progress-group">
                            <span class="progress-text">Barley</span>
                            <span class="progress-number"><b>80</b>/100%</span>
                            <div class="progress sm">
                                <div class="progress-bar progress-bar-green" style="width: 80%"></div>
                            </div>
                        </div><!-- /.progress-group -->
                        <div class="progress-group">
                            <span class="progress-text">Hops</span>
                            <span class="progress-number"><b>80</b>/100%</span>
                            <div class="progress sm">
                                <div class="progress-bar progress-bar-green" style="width: 80%"></div>
                            </div>
                        </div><!-- /.progress-group -->
                        <div class="progress-group">
                            <span class="progress-text">Malt</span>
                            <span class="progress-number"><b>80</b>/100%</span>
                            <div class="progress sm">
                                <div class="progress-bar progress-bar-green" style="width: 80%"></div>
                            </div>
                        </div><!-- /.progress-group -->
                        <div class="progress-group">
                            <span class="progress-text">Wheat</span>
                            <span class="progress-number"><b>80</b>/100%</span>
                            <div class="progress sm">
                                <div class="progress-bar progress-bar-green" style="width: 80%"></div>
                            </div>group -->
                        <div class="progress-group">
                            <span class="progress-text">Yeast</sp
                        </div><!-- /.progress-an>
                            <span class="progress-number"><b>80</b>/100%</span>
                            <div class="progress sm">
                                <div class="progress-bar progress-bar-green" style="width: 80%"></div>
                            </div>
                        </div><!-- /.progress-group -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- ./box-body -->

        </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.row -->
<!-- Main row -->

<style>
    .match-block {
        display: block;
        margin-left: auto;
        margin-top: 10%;
        margin-right: auto;
        width: 80%;
        vertical-align: middle;
    }
</style>


<script type="text/javascript">
    $(document).ready(function() {
        setInterval(getProduced, 500);
        setInterval(getNextBatchID, 500);
        setInterval(getNextProductAmount, 500);
        setInterval(getHumidity, 500);
        setInterval(getTemperature, 500);
        setInterval(getVibration, 500);
        setInterval(getMachinespeed, 500);

    });

    function getProduced() {
        $.ajax({
            url: "/AdminLTE/GetProduced",
            data: {},
            success: function(data) {
                $("#produced").text(data.produced);
            }
        });
    }

    function getNextProductID() {
        $.ajax({
            url: "/AdminLTE/GetNextBatchID",
            data: {},
            success: function(data) {
                $("#nextProductID").text((data.nextProductID));
            }
        });
     }
        function getNextBatchID() {
            $.ajax({
                url: "/AdminLTE/GetNextBatchID",
                data: {},
                success: function(data) {
                    $("#nextBatchID").text((data.nextBatchID));
                }
            });
        }

    function getNextProductAmount() {
        $.ajax({
            url: "/AdminLTE/GetNextProductAmount",
            data: {},
            success: function(data) {
                $("#nextProductAmount").text((data.nextProductAmount));
            }
        });
    }

    function getHumidity() {
        $.ajax({
            url: "/AdminLTE/GetHumidity",
            data: {},
            success: function (data) {
                $("#humidity").text((data.humidity));
            }
        });
    }

    function getTemperature() {
        $.ajax({
            url: "/AdminLTE/GetTemperature",
            data: {},
            success: function (data) {
                $("#temperature").text((data.temperature));
            }
        });
    }

    function getVibration() {
        $.ajax({
            url: "/AdminLTE/GetVibration",
            data: {},
            success: function (data) {
                $("#vibration").text((data.vibration));
            }
        });
    }

    function getMachinespeed() {
        $.ajax({
            url: "/AdminLTE/GetMachinespeed",
            data: {},
            success: function (data) {
                $("#machinespeed").text((data.machinespeed));
            }
        });
    }

    
    
        $("#resetBtn").click(function() {
            $.ajax({
                url: "/AdminLTE/ActionBtnClick",
                data: { data: 1 },
                success: function(data) {
                }
            });
        });

        $("#startBtn").click(function() {
            $.ajax({
                url: "/AdminLTE/ActionBtnClick",
                data: { data: 2 },
                success: function(data) {

                }
            });
        });

        $("#stopBtn").click(function() {
            $.ajax({
                url: "/AdminLTE/ActionBtnClick",
                data: { data: 3 },
                success: function(data) {
                }
            });
        });

        $("#abortBtn").click(function() {
            $.ajax({
                url: "/AdminLTE/ActionBtnClick",
                data: { data: 4 },
                success: function(data) {
                }
            });
        });

        $("#clearBtn").click(function() {
            $.ajax({
                url: "/AdminLTE/ActionBtnClick",
                data: { data: 5 },
                success: function(data) {
                }
            });
        });

</script>